.container{
    background-color: blanchedalmond;
    display: flex;
justify-content: center;
align-items: center;

}

.box1 {
    background-color: rgb(13, 12, 14);
    padding: 20px;
    font-size: 30px;
    flex: 1;

}

.box2 {
    background-color: gray;
    padding: 20px;
    font-size: 30px;
    flex: 2; 
}


.box3 {
    background-color: indigo;
    padding: 20px;
    font-size: 30px;
    flex: 3;
}

